<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/jaxrs-client
		http://cxf.apache.org/schemas/jaxrs-client.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <import resource="classpath:/applicationContextBinding.xml" />

    <context:annotation-config />

    <!-- Console project .properties bean -->
    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:/console-config.properties</value>
        </property>
    </bean>

    <!-- Validator for DTOs -->
    <bean id="validator"
        class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource">
            <ref bean="messageSource" />
        </property>
    </bean>

    <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames"
            value="classpath:messages, classpath:binding-messages" />
        <property name="defaultEncoding" value="UTF-8" />
        <!-- alwaysUseMessageFormat : set to true to force formatting with 
            java.text.Format.MessageFormat -->
        <property name="alwaysUseMessageFormat" value="true" />
    </bean>

    <context:component-scan
        base-package="fr.heffebaycay.cdb.webservice, fr.heffebaycay.cdb.ui">
    </context:component-scan>

    <!-- Configuration of both JAX-RS WebServices : computer and company -->
    <jaxrs-client:client id="computerRESTClient"
        address="${console.webservice.baseURL}/api" serviceClass="fr.heffebaycay.cdb.webservice.IComputerRESTService"
        inheritHeaders="true">
        <jaxrs-client:providers>
            <!-- Required, to get the client to know how to serialize/deserialize 
                JSON -->
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
        </jaxrs-client:providers>
    </jaxrs-client:client>
    <jaxrs-client:client id="companyRESTClient"
        address="${console.webservice.baseURL}/api" serviceClass="fr.heffebaycay.cdb.webservice.ICompanyRESTService"
        inheritHeaders="true">
        <jaxrs-client:providers>
            <!-- Required, to get the client to know how to serialize/deserialize 
                JSON -->
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
        </jaxrs-client:providers>
    </jaxrs-client:client>
</beans>